body 
{ 
  background: #333; 
  color: #DDD; 
  font-family: sans-serif;

  margin-bottom: 48px; 
  margin-top: 48px; 
  text-align: center;
}


.slider
{
  overflow: hidden;
  height: 140px;
  margin: 0 auto;
  position: relative;
  width: 320px;

  background: #aaa;
  box-shadow: 0 0 40px 10px #000;
}

.slider .slide
{
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slider .slide img { width: 100%; height: 100%; }

.slider .slider-directions .slider-directions-prev,
.slider .slider-directions .slider-directions-next
{
  position: absolute;
  top: 35%;
  background: #eee;
  width: 24px;
  height: 48px;
  z-index: 10;

  transition-property: left,right;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slider .slider-directions .slider-directions-prev:after,
.slider .slider-directions .slider-directions-next:after
{
  content: 'O';
  display: block;
  line-height: 48px;
  color: #333;
}

.slider .slider-directions .slider-directions-prev { left: -24px; }
.slider:hover .slider-directions .slider-directions-prev { left: 0; }
.slider .slider-directions .slider-directions-prev:after { content: '«'; }

.slider .slider-directions .slider-directions-next { right: -24px; }
.slider:hover .slider-directions .slider-directions-next { right: 0; }
.slider .slider-directions .slider-directions-next:after { content: '»'; }